services:

  app:
    image: monday1/threat-intel-hub:latest
    # image: monday1/threat-intel-hub:v2.0.2
    container_name: threat-intel-hub-app
    volumes:
      - ./.env:/app/.env:ro  # 挂载宿主机的 .env（只读）
    environment:
      DB_TYPE: ${DB_TYPE}
      MYSQL_HOST: ${MYSQL_HOST}
      MYSQL_PORT: ${MYSQL_PORT}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_NAME: ${MYSQL_NAME}
    ports:
      - "8891:8891"
    restart: always
