version: "3.9"

services:
  threat-intel-hub-db:
    image: mysql:8.0
    container_name: threat-intel-hub-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_NAME}
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    command: >
      --default-authentication-plugin=mysql_native_password
      --skip-log-bin
      --performance-schema=OFF
      --max-connections=100
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-uroot", "-p${MYSQL_PASSWORD}"]
      interval: 10s
      timeout: 5s
      retries: 30
      start_period: 120s

  app:
    image: monday1/threat-intel-hub:latest
    container_name: threat-intel-hub-app
    environment:
      DB_TYPE: ${DB_TYPE}
      MYSQL_HOST: ${MYSQL_HOST}
      MYSQL_PORT: ${MYSQL_PORT}
      MYSQL_USER: root
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_NAME: ${MYSQL_NAME}
    ports:
      - "8891:8891"
    depends_on:
      threat-intel-hub-db:
        condition: service_healthy
    restart: always

volumes:
  mysql_data: